table{
    direction: rtl;
    width: 100%;
    background: #ededed;
    padding: 0;
    border-spacing: 0;
}
.tr{
    direction: ltr;
}
.in{
    width: 20%;
    margin-top: 20px;
}
td{
    padding: 10px;
    text-align: center;
    border: 1px solid #6c6c6c69;    
}
input{
    border: none;
    background-color: inherit;
    text-align: center;
}
input:focus{
    border: none;
    background-color: inherit;
    outline: none;
}
thead{
    background-color: #bbbbbb;
    cursor: default;
}
.in{
    width: 140px;
    height: 40px;
    border: none;
    background-color: #bbbbbb;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.in:hover{
    background-color: gray;
}
::selection{
    background-color: #bbbbbb;
    
}