*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: tahoma, Arial;
}

.slider-container{}
.slider-container .slide-number{}
.slider-container .active{}
.slider-container img{}
.slider-controls{}
.slider-controls .prev{}
.slider-controls .indicators{}
.slider-controls ul{}
.slider-controls ul li{}
.slider-controls ul .active{}
.slider-controls .next{}
