.oop{
    height: 0.7cm;
    width: 10cm;
    background-color: white;
}
.input{
    margin-top: 0.3cm;
    height: 0.7cm;
    width: 5cm;
    color: green;
}
body{
    background-color: orange;
    height: 20000px;
}
#btn{
    width: 2cm;
    height: 2cm;
    border-radius: 20%;
    color: black;
}
.move{
    background: orangered;
    cursor: pointer;
}
.bdy{
    background: rgb(44, 43, 43);
    color: white;
}
#bt{
    width: 2cm;
    height: 2cm;
    border-radius: 20%;
    color: black;
}
.c{
    background: orangered;
    cursor: pointer;
}
#con{
    margin-top: 5px;
    margin-left: 5px;
    position: fixed;
}
#ttn{
    width: 1cm;
    height: 1cm;
    border-radius: 50%;
    cursor: pointer;}
.z{  position: fixed;
    bottom: 10px;
    right: 10px;
    background: orangered;
    color: rgb(255, 255, 255);
    display: none;
}  

.b{
    background: rgb(100, 27, 0);
    behavior: "smooth";
}
.n{
    background: rgb(104, 101, 101);
    behavior: "smooth";
}

.in{
    /* width: fit-content; */
    display: flex;
    align-items: center;
    justify-content: center;
}